<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8"> <title>Quizjj</title>
    <link rel='stylesheet' href='/stylesheet/style.css' />
  </head>
  <body>
    <h2>Quizjj: el juego de las preguntas</h2>
    <p><%= respuesta %></p>
    <a href="/quizes/question">Intentalo de nuevo</a>
  </body>
</html
