<table>
  <tr>
    <td>Filtrar por: </td>
    <td>
      <form method="get" action="/quizes">
        <input type="text" name="search" value="Dime..." />
        <input type="submit" value="Buscar"/>
      </form>
    </td>
  </tr>
</table>
-----<p>
<table>
  <% var i; for (i=0; i < quizes.length; i++) { %>
    <tr>
      <td><a href="/quizes/<%= quizes[i].id %>"><%= quizes[i].pregunta %></a></td>
    </tr>
  <% } %>
</table>
