    <form method='get' action="/quizes/answer">
      <p>Atención, pregunta: <%= pregunta %></p>
      <input type="text" name="respuesta" value="Dime..." />
      <input type="submit" value="Enviar"/>
    </form>
