    <form method='get' action="/quizes/<%= quiz.id %>/answer">
      <p>Atención, pregunta: <%= quiz.pregunta %></p>
      <input type="text" name="respuesta" value="Dime..." />
      <input type="submit" value="Enviar"/>
    </form>
